@import "tailwindcss";

:root {
  --fonte: "Roboto", sans-serif;
}

@layer base {
  html, body {
    @apply h-full;
    font-family: var(--fonte);
  }

  body {
    @apply flex flex-col min-h-screen m-0 p-0;
  }

  main {
    @apply flex-1;
  }

  * {
    @apply box-border max-w-full;
  }
}
